Repository codestates-seb/seb44_main_022, pull requests merged in 2023-07, with the labels that each got.

#60 feat: Error Box
  client/src/assets/constantValue/constantValue.ts
  client/src/components/RoundButton.tsx
  client/src/components/UserInput.tsx
  client/src/pages/users/LoginForm.tsx
  client/src/pages/users/SignUpForm.tsx
  client/src/styles/globalStyle.ts
Labels: FE, FEATURE, MEM

#61 feat: google OAuth
  client/.gitignore
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/components/RoundButton.tsx
  client/src/main.tsx
  client/src/pages/users/Auth.tsx
  client/tsconfig.json
Labels: FE, FEATURE, MEM

#65 feat: signup/login
  server/src/main/java/com/buyte/member/auth/SecurityConfiguration.java
  server/src/main/java/com/buyte/member/auth/dto/LoginDto.java
  server/src/main/java/com/buyte/member/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/buyte/member/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/buyte/member/auth/userdetails/MemberDetailsService.java
  server/src/main/java/com/buyte/member/controller/MemberController.java
  server/src/main/java/com/buyte/member/dto/MemberDto.java
  server/src/main/java/com/buyte/member/entity/Member.java
  server/src/main/java/com/buyte/member/mapper/MemberMapper.java
  server/src/main/java/com/buyte/member/repository/MemberRepository.java
  server/src/main/java/com/buyte/member/service/MemberService.java
Labels: BE, MEM

#71 fe/feat/logout
  client/src/components/RoundButton.tsx
  client/src/main.tsx
  client/src/pages/users/LoginForm.tsx
  client/src/pages/users/SignUpForm.tsx
  client/src/redux/reducer/loginReducer.ts
  client/src/redux/reducer/rootReducer.ts
  client/src/redux/store/store.ts
Labels: FE, FEATURE, MEM

#75 Be/feat/login
  server/src/main/java/com/buyte/member/auth/config/SecurityConfiguration.java
  server/src/main/java/com/buyte/member/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/buyte/member/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/buyte/member/auth/handler/MemberAuthenticationEntryPoint.java
  server/src/main/java/com/buyte/member/auth/handler/MemberAuthenticationFailureHandler.java
  server/src/main/java/com/buyte/member/auth/utils/ErrorResponder.java
  server/src/main/java/com/buyte/member/entity/Member.java
Labels: BE, MEM

#73 feat: order create
  server/src/main/java/com/buyte/member/dto/CartResDto.java
  server/src/main/java/com/buyte/member/entity/Member.java
  server/src/main/java/com/buyte/order/controller/OrdersController.java
  server/src/main/java/com/buyte/order/dto/OrderDto.java
  server/src/main/java/com/buyte/order/entity/OrderProduct.java
  server/src/main/java/com/buyte/order/entity/Orders.java
  server/src/main/java/com/buyte/order/repository/OrderProductRepository.java
  server/src/main/java/com/buyte/order/repository/OrdersRepository.java
  server/src/main/java/com/buyte/order/service/OrdersService.java
  server/src/main/java/com/buyte/order/service/OrdersServiceImpl.java
Labels: BE, ORDER

#77 Fe/feat/cart
  client/src/App.tsx
  client/src/components/CartItem.tsx
  client/src/components/CheckBox.tsx
  client/src/components/CountButton.tsx
  client/src/pages/order/Payment.tsx
  client/src/pages/order/ShoppingCart.tsx
  client/src/pages/users/Auth.tsx
  client/src/redux/reducer/cartReducer.ts
  client/src/redux/reducer/rootReducer.ts
  client/src/share/Footer.tsx
  client/src/styles/globalStyle.ts
Labels: FE, FEATURE, ORDER

#82 Fe/feat/modal
  client/package-lock.json
  client/package.json
  client/src/components/custom/CustomContent.tsx
  client/src/components/custom/CustomSidebar.tsx
  client/src/share/ModalComponentCustom.tsx
Labels: FE, FEATURE, CUSTOM

#85 Fe/feat/custom
  client/src/components/custom/CustomContent.tsx
  client/src/pages/store/SelectStore.tsx
  client/src/share/ModalComponentCustom.tsx
Labels: FE

#87 Be/feat/login
  server/src/main/java/com/buyte/exception/ExceptionCode.java
  server/src/main/java/com/buyte/member/auth/config/RedisRepositoryConfig.java
  server/src/main/java/com/buyte/member/auth/config/SecurityConfiguration.java
  server/src/main/java/com/buyte/member/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/buyte/member/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/buyte/member/auth/handler/MemberAuthenticationEntryPoint.java
  server/src/main/java/com/buyte/member/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/buyte/member/auth/userdetails/MemberDetailsService.java
  server/src/main/java/com/buyte/member/auth/utils/JwtUtils.java
  server/src/main/java/com/buyte/member/controller/MemberController.java
  server/src/main/java/com/buyte/member/service/MemberService.java
Labels: BE, MEM

#86 Fe/feat/payment
  client/.eslintrc.json
  client/index.html
  client/src/App.tsx
  client/src/PaymentWindow.ts
  client/src/Routes.tsx
  client/src/api/api.ts
  client/src/api/authApis.ts
  client/src/api/orderApis.ts
  client/src/assets/constantValue/constantValue.ts
  client/src/assets/interface/Button.interface.ts
  client/src/assets/interface/Cart.interface.ts
  client/src/assets/interface/Input.interface.ts
  client/src/assets/interface/Login.Interface.ts
  client/src/components/CartCategoryList.tsx
  client/src/components/CartItem/CartItem.tsx
  client/src/components/CartItem/CartItemTab.tsx
  client/src/components/CheckBox.tsx
  client/src/components/CountButton/CountButton.style.ts
  client/src/components/CountButton/CountButton.tsx
  client/src/components/PriceNumberText.tsx
  client/src/components/UserInput/OrderInput.tsx
  client/src/components/UserInput/UserInput.tsx
  client/src/hooks/useGoBackRestrict.ts
  client/src/index.css
  client/src/index.d.ts
  client/src/main.tsx
  client/src/pages/main/Main.tsx
  client/src/pages/order/OrderComplete/OrderComplete.style.ts
  client/src/pages/order/OrderComplete/OrderComplete.tsx
  client/src/pages/order/Payment.tsx
  client/src/pages/order/Payment/Payment.style.ts
  client/src/pages/order/Payment/Payment.tsx
  client/src/pages/order/ShoppingCart/ShoppingCart.style.ts
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
  client/src/pages/store/SelectStore.tsx
  client/src/pages/users/Auth/Auth.tsx
  client/src/pages/users/LoginForm.tsx
  client/src/pages/users/SignUpForm.tsx
  client/src/share/Footer.tsx
  client/src/share/Header.tsx
  client/tsconfig.json
Labels: FE, FEATURE, ORDER

#96 feat: refresh token excption handling
  server/src/main/java/com/buyte/exception/ExceptionCode.java
  server/src/main/java/com/buyte/member/auth/config/SecurityConfiguration.java
  server/src/main/java/com/buyte/member/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/buyte/member/auth/jwt/JwtTokenizer.java
Labels: BE, MEM

#100 Be/feat/oauth
  server/src/main/java/com/buyte/member/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/buyte/member/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/buyte/member/auth/oauth/AccessTokenResponse.java
  server/src/main/java/com/buyte/member/auth/oauth/GoogleUserInfo.java
  server/src/main/java/com/buyte/member/auth/oauth/OauthService.java
  server/src/main/java/com/buyte/member/controller/MemberController.java
Labels: BE, MEM

#101 Fe/feat/map marker&Oauth
  client/src/api/api.ts
  client/src/api/apis.ts
  client/src/api/authApis.ts
  client/src/api/memberApis.ts
  client/src/api/orderApis.ts
  client/src/assets/constantValue/constantValue.ts
  client/src/assets/images/marker2.svg
  client/src/assets/interface/Button.interface.ts
  client/src/assets/interface/Map.interface.ts
  client/src/assets/interface/Payment.interface.ts
  client/src/components/RectangleButton/RectangleButton.tsx
  client/src/components/RoundButton/RoundButton.tsx
  client/src/hooks/AboutFlow.tsx
  client/src/hooks/useChangeText.ts
  client/src/hooks/useValidText.ts
  client/src/index.d.ts
  client/src/pages/map/CustomMarker.tsx
  client/src/pages/map/Map.style.ts
  client/src/pages/map/MapModal.tsx
  client/src/pages/map/MapPage.tsx
  client/src/pages/mypage/Mypage.tsx
  client/src/pages/order/OrderComplete/OrderComplete.tsx
  client/src/pages/order/Payment/Payment.tsx
  client/src/pages/order/Payment/PaymentWindow.ts
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
  client/src/pages/users/Auth/Auth.style.tsx
  client/src/pages/users/LoginForm.tsx
  client/src/pages/users/SignUpForm.tsx
  client/src/styles/globalStyle.ts
  client/src/utils/browserStorage.ts
Labels: FE, FEATURE, MEM, ORDER, MAP

#102 Be/feat/member
  server/src/main/java/com/buyte/member/auth/config/SecurityConfiguration.java
  server/src/main/java/com/buyte/member/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/buyte/member/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/buyte/member/auth/oauth/OauthService.java
  server/src/main/java/com/buyte/member/auth/userdetails/MemberDetailsService.java
  server/src/main/java/com/buyte/member/auth/utils/JwtUtils.java
  server/src/main/java/com/buyte/member/controller/MemberController.java
  server/src/main/java/com/buyte/member/entity/Member.java
  server/src/main/java/com/buyte/member/mapper/MemberMapper.java
  server/src/main/java/com/buyte/member/service/MemberService.java
  server/src/main/java/com/buyte/member/service/MemberServiceImpl.java
Labels: BE, MEM

#106 Fe/feat/custom
  client/package-lock.json
  client/package.json
  client/src/api/customApis.ts
  client/src/assets/images/img_modal/Example.png
  client/src/assets/images/img_modal/Example2.png
  client/src/assets/images/img_modal/base.png
  client/src/assets/images/img_modal/custom_icon.png
  client/src/assets/images/img_modal/drag.png
  client/src/assets/images/img_modal/eraser.png
  client/src/assets/images/img_modal/pencil.png
  client/src/assets/images/img_modal/redo.png
  client/src/assets/images/img_modal/undo.png
  client/src/assets/images/img_modal/upload.png
  client/src/assets/interface/AddCustom.interface.ts
  client/src/components/Custom/Canvashooks/UseCanvas.ts
  client/src/components/Custom/Canvashooks/UseDrawingMode.ts
  client/src/components/Custom/Canvashooks/UseImages.ts
  client/src/components/Custom/CustomButton/CartButton.tsx
  client/src/components/Custom/CustomButton/CartButtonContainer.ts
  client/src/components/Custom/CustomButton/CloseButton.tsx
  client/src/components/Custom/CustomButton/ModalButtons.tsx
  client/src/components/Custom/CustomButton/Popup.tsx
  client/src/components/Custom/CustomButton/PopupContainer.ts
  client/src/components/Custom/CustomContent/Canvas.tsx
  client/src/components/Custom/CustomContent/CanvasComponent.tsx
  client/src/components/Custom/CustomContent/CanvasComponentWrapper.ts
  client/src/components/Custom/CustomContent/CanvasWrapper.tsx
  client/src/components/Custom/CustomContent/ColorInput.tsx
  client/src/components/Custom/CustomContent/ColorInputStyled.ts
  client/src/components/Custom/CustomContent/ContentContainer.ts
  client/src/components/Custom/CustomContent/CustomContent.tsx
  client/src/components/Custom/CustomContent/EraseButton.tsx
  client/src/components/Custom/CustomContent/RangeInput.tsx
  client/src/components/Custom/CustomContent/RangeInputcontainer.tsx
  client/src/components/Custom/CustomContent/UndoButton.tsx
  client/src/components/Custom/CustomContent/UploadButton.tsx
  client/src/components/Custom/CustomSidebar/CreamSection.tsx
  client/src/components/Custom/CustomSidebar/CustomSidebar.tsx
  client/src/components/Custom/CustomSidebar/FillingSection.tsx
  client/src/components/Custom/CustomSidebar/FlavorSeciton.tsx
  client/src/components/Custom/CustomSidebar/ToppingSection.tsx
  client/src/components/custom/CustomContent.tsx
  client/src/components/custom/CustomSidebar.tsx
  client/src/pages/main/Main.tsx
  client/src/pages/store/SelectStore.tsx
  client/src/share/Footer.tsx
  client/src/share/Header.tsx
  client/src/share/ModalComponentCustom.tsx
Labels: FE, CUSTOM

#113 Be/fix/login
  server/src/main/java/com/buyte/member/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/buyte/member/auth/oauth/OauthService.java
  server/src/main/java/com/buyte/member/controller/MemberController.java
  server/src/main/java/com/buyte/member/entity/Member.java
  server/src/main/java/com/buyte/member/service/MemberServiceImpl.java
Labels: BE, MEM

#114 Fe/design/header
  client/src/App.tsx
  client/src/Routes.tsx
  client/src/api/apis.ts
  client/src/api/authApis.ts
  client/src/api/orderApis.ts
  client/src/assets/constantValue/constantValue.ts
  client/src/components/Logo/Logo.style.ts
  client/src/components/RoundButton/RoundButton.tsx
  client/src/hooks/useAxiosInterceptor.tsx
  client/src/hooks/useValidText.ts
  client/src/main.tsx
  client/src/pages/main/Main.tsx
  client/src/pages/map/Map.style.ts
  client/src/pages/map/MapModal.tsx
  client/src/pages/map/MapPage.tsx
  client/src/pages/order/Payment/PaymentWindow.ts
  client/src/pages/order/ShoppingCart/ShoppingCart.style.ts
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
  client/src/pages/store/SelectStore.tsx
  client/src/share/Footer.tsx
  client/src/share/Header.tsx
  client/src/share/Header/Header.style.ts
  client/src/share/Header/Header.tsx
  client/src/styles/globalStyle.ts
  client/src/styles/keyframes.ts
  client/src/utils/debounce.ts
Labels: FE, FEATURE, MEM, MAP

#118 Fe/feat/custom
  client/package-lock.json
  client/package.json
  client/src/api/customApis.ts
  client/src/assets/fonts/BMJUA_ttf.ttf
  client/src/components/Custom/CustomButton/CartButton.tsx
  client/src/components/Custom/CustomButton/ModalButtons.tsx
  client/src/components/Custom/CustomButton/Popup.tsx
  client/src/components/Custom/CustomButton/PopupContainer.ts
  client/src/components/Custom/CustomContent/CanvasComponent.tsx
  client/src/components/Custom/CustomContent/CanvasComponentWrapper.ts
  client/src/components/Custom/CustomContent/CustomContent.tsx
  client/src/components/Custom/CustomContent/SaveImageButton.tsx
  client/src/components/Custom/CustomContent/UseSaveAsImage.ts
  client/src/components/ProductCard/ProductCard.tsx
  client/src/pages/map/MapPage.tsx
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
  client/src/pages/store/SelectStore.tsx
  client/src/share/ModalComponentCustom.tsx
  client/src/share/ModalComponentDetail.style.ts
  client/src/styles/globalStyle.ts
Labels: FE, CUSTOM

#119 Fe/feat/private route
  client/public/_redirects
  client/src/App.tsx
  client/src/PrivateRoute.tsx
  client/src/RouteList.tsx
  client/src/Routes.tsx
  client/src/api/authApis.ts
  client/src/assets/interface/Cart.interface.ts
  client/src/assets/interface/Header.interface.ts
  client/src/assets/interface/Map.interface.ts
  client/src/assets/interface/Store.interface.ts
  client/src/components/CartItem/CartItem.style.ts
  client/src/components/CartItem/CartItem.tsx
  client/src/components/ProductCard/ProductCard.style.ts
  client/src/components/RoundButton/RoundButton.tsx
  client/src/components/UserInput/OrderInput.tsx
  client/src/components/UserInput/UserInput.style.ts
  client/src/components/storeCard.style.ts
  client/src/components/storeCard.tsx
  client/src/hooks/useAxiosInterceptor.tsx
  client/src/hooks/useScreenResize.tsx
  client/src/hooks/useSetAnimation.ts
  client/src/main.tsx
  client/src/pages/main/Main.tsx
  client/src/pages/map/CustomMarker.tsx
  client/src/pages/map/Map.style.ts
  client/src/pages/map/MapModal.tsx
  client/src/pages/map/MapPage.tsx
  client/src/pages/mypage/Mypage.tsx
  client/src/pages/order/Payment/Payment.tsx
  client/src/pages/order/Payment/PaymentWindow.ts
  client/src/pages/store/SelectStore.tsx
  client/src/pages/store/StoreDetail.tsx
  client/src/pages/users/Auth/Auth.style.tsx
  client/src/pages/users/Auth/Auth.tsx
  client/src/redux/reducer/cartReducer.ts
  client/src/share/Header/HamburgerMenu.tsx
  client/src/share/Header/Header.style.ts
  client/src/share/Header/Header.tsx
  client/src/share/ModalComponentDetail.tsx
  client/src/styles/globalStyle.ts
  client/src/styles/keyframes.ts
Labels: FE, FEATURE, ORDER, MAP

#120 Fe/feat/custom
  client/src/components/Custom/CustomButton/CartButton.tsx
  client/src/components/Custom/CustomButton/CloseAlert.style.ts
  client/src/components/Custom/CustomButton/CloseAlert.tsx
  client/src/components/Custom/CustomButton/CloseButton.tsx
  client/src/components/Custom/CustomButton/ModalButtons.tsx
  client/src/components/Custom/CustomButton/Popup.tsx
  client/src/components/Custom/CustomButton/PopupContainer.ts
  client/src/components/Custom/CustomContent/CustomContent.tsx
  client/src/components/Custom/CustomContent/UseSaveAsImage.ts
  client/src/components/Custom/CustomSidebar/CustomSidebar.tsx
Labels: FE, CUSTOM

#123 Fe/feat/custom
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/customApis.ts
  client/src/assets/images/github.png
  client/src/assets/images/notion.png
  client/src/assets/images/youtube.png
  client/src/components/Custom/CustomButton/ModalButtons.tsx
  client/src/components/Custom/CustomContent/UseSaveAsImage.ts
  client/src/components/Custom/CustomSidebar/CreamSection.tsx
  client/src/components/Custom/CustomSidebar/CustomSidebar.tsx
  client/src/components/Custom/CustomSidebar/FillingSection.tsx
  client/src/components/Custom/CustomSidebar/FlavorSeciton.tsx
  client/src/components/Custom/CustomSidebar/ToppingSection.tsx
  client/src/components/Main/MainSection1.tsx
  client/src/components/Main/MainSection2.tsx
  client/src/components/Main/MainSection3.tsx
  client/src/components/Main/MainSection4.tsx
  client/src/components/Main/MainSection5.tsx
  client/src/components/Main/MainSidebar.tsx
  client/src/pages/main/Main.tsx
  client/src/share/Footer.tsx
  client/src/share/ModalComponentCustom.tsx
Labels: FE, CUSTOM

#127 Fe/feat/custom
  client/src/assets/images/img_main/cake1.png
  client/src/assets/images/img_main/cake2.png
  client/src/assets/images/img_main/customCake1.png
  client/src/assets/images/img_main/customCake2.png
  client/src/assets/images/img_main/img_main.ts
  client/src/assets/images/img_main/next.png
  client/src/assets/images/img_main/prev.png
  client/src/assets/images/img_main/section4Back.png
  client/src/components/Main/MainSection1.tsx
  client/src/components/Main/MainSection2.tsx
  client/src/components/Main/MainSection3.tsx
  client/src/components/Main/MainSection4.tsx
  client/src/components/Main/MainSection5.tsx
  client/src/components/Main/MainSidebar.tsx
  client/src/pages/main/Main.tsx
Labels: FE

#128 Fe/feat/not found
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/PrivateRoute.tsx
  client/src/RouteList.tsx
  client/src/assets/constantValue/constantValue.ts
  client/src/assets/interface/Button.interface.ts
  client/src/assets/interface/Chat.interface.ts
  client/src/assets/interface/Input.interface.ts
  client/src/assets/interface/Map.interface.ts
  client/src/assets/interface/Payment.interface.ts
  client/src/assets/interface/Router.interface.ts
  client/src/assets/interface/Store.interface.ts
  client/src/components/CartItem/CartItem.tsx
  client/src/components/CartItem/CheckBox.tsx
  client/src/components/RectangleButton/RectangleButton.style.ts
  client/src/components/RoundButton/RoundButton.style.ts
  client/src/components/RoundButton/RoundButton.tsx
  client/src/components/UserInput/OrderInput.tsx
  client/src/components/UserInput/UserInput.style.ts
  client/src/components/UserInput/UserInput.tsx
  client/src/hooks/chatHooks/useScrollBottom.ts
  client/src/hooks/chatHooks/useTextareaAutoHeight.ts
  client/src/hooks/useAuthAnimation.ts
  client/src/hooks/useAxiosInterceptor.tsx
  client/src/hooks/useCurrentLocation.ts
  client/src/hooks/useRouteAnimation.ts
  client/src/pages/Chat/Chat.tsx
  client/src/pages/Chat/ChatBox.style.ts
  client/src/pages/Chat/ChatBox.tsx
  client/src/pages/Chat/ChatButton.style.ts
  client/src/pages/map/Map.style.ts
  client/src/pages/map/MapModal.tsx
  client/src/pages/map/MapPage.tsx
  client/src/pages/notfound/NotFound.tsx
  client/src/pages/notfound/NotFount.style.ts
  client/src/pages/order/Payment/AddressFunc.ts
  client/src/pages/order/Payment/Payment.tsx
  client/src/pages/order/Payment/PaymentWindow.ts
  client/src/pages/store/StoreDetail.tsx
  client/src/pages/users/LoginForm.tsx
  client/src/pages/users/SignUpForm.tsx
  client/src/share/Footer.tsx
  client/src/share/Header/Header.style.ts
  client/src/share/Header/Header.tsx
  client/src/styles/keyframes.ts
  client/src/utils/debounce.ts
Labels: FE, FEATURE, ORDER, MAP, CHAT

#126 feat: Add store Id to OrderProductInfo
  server/src/main/java/com/buyte/member/dto/MemberDto.java
  server/src/main/java/com/buyte/member/mapper/MemberMapper.java
Labels: BE, MYPAGE

#131 Fe/feat/main
  client/package-lock.json
  client/package.json
  client/src/PrivateRoute.tsx
  client/src/assets/images/img_main/img_main.ts
  client/src/components/Custom/CustomContent/UseSaveAsImage.ts
  client/src/components/Main/MainSection1.tsx
  client/src/components/Main/MainSection2.tsx
  client/src/components/Main/MainSection3.tsx
  client/src/components/Main/MainSection4.tsx
  client/src/components/Main/MainSection5.tsx
  client/src/components/Main/MainSidebar.tsx
  client/src/pages/main/Main.tsx
Labels: FE, CUSTOM

#138 Fe/feat/chat
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/PrivateRoute.tsx
  client/src/RouteList.tsx
  client/src/api/chatApis.ts
  client/src/assets/constantValue/constantValue.ts
  client/src/assets/images/chatlist_img.png
  client/src/assets/interface/Button.interface.ts
  client/src/assets/interface/Chat.interface.ts
  client/src/assets/interface/Router.interface.ts
  client/src/components/Logo/Logo.style.ts
  client/src/components/Logo/Logo.tsx
  client/src/components/RoundButton/RoundButton.tsx
  client/src/components/UserInput/UserInput.style.ts
  client/src/hooks/chatHooks/useChat.ts
  client/src/hooks/useKeydown.ts
  client/src/pages/Chat/Chat.tsx
  client/src/pages/Chat/ChatBox.style.ts
  client/src/pages/Chat/ChatBox.tsx
  client/src/pages/Chat/ChatIntroBox.tsx
  client/src/pages/Chat/ChatList.style.ts
  client/src/pages/Chat/ChatList.tsx
  client/src/pages/map/Map.style.ts
  client/src/pages/map/MapModal.tsx
  client/src/pages/map/MapPage.tsx
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
  client/src/pages/store/StoreDetail.tsx
  client/src/pages/users/Auth/Auth.style.tsx
  client/src/pages/users/Auth/Auth.tsx
  client/src/pages/users/LoginForm.tsx
  client/src/share/Header/Header.style.ts
  client/src/share/Header/Header.tsx
  client/src/styles/keyframes.ts
Labels: FE, FEATURE, MEM, CHAT

#139 fix: build setting
  client/src/hooks/chatHooks/useScrollBottom.ts
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
Labels: hotfix, FE

#140 fix: Add order count
  server/src/main/java/com/buyte/member/dto/MemberDto.java
  server/src/main/java/com/buyte/member/mapper/MemberMapper.java
Labels: BE, MYPAGE

#141 Fe/design/chat
  client/src/App.tsx
  client/src/assets/constantValue/constantValue.ts
  client/src/assets/images/Vector.png
  client/src/components/CartItem/CartItem.style.ts
  client/src/components/CartItem/CartItem.tsx
  client/src/components/CartItem/CartItemTab.tsx
  client/src/components/UserInput/OrderInput.tsx
  client/src/components/UserInput/UserInput.style.ts
  client/src/pages/Chat/Chat.tsx
  client/src/pages/Chat/ChatBox.style.ts
  client/src/pages/Chat/ChatBox.tsx
  client/src/pages/Chat/ChatButton.style.ts
  client/src/pages/map/Map.style.ts
  client/src/pages/map/MapModal.tsx
  client/src/pages/order/OrderComplete/OrderComplete.style.ts
  client/src/pages/order/Payment/Payment.tsx
  client/src/pages/order/ShoppingCart/ShoppingCart.style.ts
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
  client/src/share/Header/Header.style.ts
Labels: FE, MEM, ORDER, MAP, CHAT

#142 fix: chatList
  client/src/pages/Chat/ChatBox.tsx
  client/src/pages/Chat/ChatList.tsx
Labels: hotfix, FE, CHAT

#146 Fe/design/chat
  client/src/components/CartItem/CartItem.tsx
  client/src/components/CartItem/CartItemTab.tsx
  client/src/pages/Chat/ChatBox.style.ts
  client/src/pages/Chat/ChatBox.tsx
  client/src/pages/Chat/ChatButton.style.ts
  client/src/pages/map/Map.style.ts
  client/src/pages/map/MapModal.tsx
  client/src/pages/map/MapPage.tsx
  client/src/share/Header/Header.style.ts
Labels: hotfix, FE, FEATURE, CHAT

#147 Fe/feat/main
  client/src/assets/images/img_main/section1-2.png
  client/src/components/Custom/CustomContent/UseSaveAsImage.ts
  client/src/components/ProductCard/ProductCard.tsx
  client/src/share/ModalComponentCustom.tsx
Labels: FE, CUSTOM

#148 Fe/feat/main
  client/src/components/Custom/CustomContent/CustomContent.tsx
  client/src/components/Custom/CustomContent/UseSaveAsImage.ts
Labels: FE, CUSTOM

#150 Fe/design/chat
  client/src/api/chatApis.ts
  client/src/assets/interface/Chat.interface.ts
  client/src/components/AboutFlow.tsx
  client/src/components/CartItem/CartCategoryList.tsx
  client/src/components/OrderComponents/PriceNumberText.tsx
  client/src/components/RoundButton/RoundButton.tsx
  client/src/components/UserInput/OrderInput.tsx
  client/src/components/UserInput/UserInput.style.ts
  client/src/main.tsx
  client/src/pages/Chat/ChatBox.style.ts
  client/src/pages/Chat/ChatBox.tsx
  client/src/pages/Chat/ChatIntroBox.tsx
  client/src/pages/Chat/ChatList.tsx
  client/src/pages/custom/Custom.tsx
  client/src/pages/map/Map.style.ts
  client/src/pages/map/MapModal.style.ts
  client/src/pages/map/MapModal.tsx
  client/src/pages/order/OrderComplete/OrderComplete.tsx
  client/src/pages/order/Payment/Payment.tsx
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
Labels: FE, CHAT

#153 Be/feat/withdraw
  server/src/main/java/com/buyte/member/controller/MemberController.java
  server/src/main/java/com/buyte/member/service/MemberService.java
  server/src/main/java/com/buyte/member/service/MemberServiceImpl.java
Labels: BE, MEM

#155 Fe/design/chat
  client/src/assets/interface/Button.interface.ts
  client/src/components/RoundButton/RoundButton.tsx
  client/src/pages/Chat/ChatBox.tsx
  client/src/pages/users/Auth/Auth.tsx
  client/src/pages/users/LoginForm.tsx
  client/src/pages/users/SignUpForm.tsx
Labels: hotfix, FE, CHAT

#156 fix: chat error fix
  client/src/assets/interface/Chat.interface.ts
  client/src/hooks/chatHooks/useChat.ts
  client/src/pages/Chat/ChatBox.tsx
Labels: hotfix, FE, CHAT

#160 Fe/design/chat
  client/src/assets/interface/Chat.interface.ts
  client/src/components/CartItem/CartItemTab.tsx
  client/src/hooks/chatHooks/useChat.ts
  client/src/hooks/useAxiosInterceptor.tsx
  client/src/pages/Chat/ChatBox.tsx
  client/src/pages/Chat/ChatList.tsx
  client/src/pages/order/ShoppingCart/ShoppingCart.tsx
Labels: hotfix, FE, ORDER, CHAT

#162 Fe/feat/main
  client/index.html
  client/public/favicon.png
  client/src/api/customApis.ts
  client/src/assets/images/img_main/cake2.png
  client/src/assets/images/img_main/customCake1.png
  client/src/assets/images/img_main/customCake2.png
  client/src/components/Custom/CustomButton/ModalButtons.tsx
  client/src/components/Custom/CustomButton/Popup.tsx
  client/src/components/Custom/CustomContent/CustomContent.tsx
  client/src/components/Custom/CustomContent/UploadButton.tsx
  client/src/components/Custom/CustomContent/UseSaveAsImage.ts
  client/src/components/Main/MainSection2.tsx
  client/src/share/CloseAlert/CloseAlert.style.ts
  client/src/share/CloseAlert/CloseAlert.tsx
  client/src/share/ModalComponentCustom.tsx
  client/src/share/ProductCartAlert/ProductCartAlert.tsx
Labels: FE

#164 Fe/design/chat
  client/src/pages/mypage/Mypage.tsx
Labels: FE, MYPAGE
